<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<display-name>Forgraf </display-name>
	
	<!-- REGISTRATION SERVLETS -->
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>mrtranqui.fem.servlet.rest.PostRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>mrtranqui.fem.servlet.rest.PostLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<!-- API -->
	<servlet>
		<servlet-name>Ping</servlet-name>
		<servlet-class>mrtranqui.fem.servlet.rest.PostPing</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ping</servlet-name>
		<url-pattern>/api/ping</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- Security Filter -->
	<filter>
		<filter-name>Rest APIs Security</filter-name>
		<filter-class>mrtranqui.fem.servlet.security.RestSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Rest APIs Security</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<!-- Objectify Filter -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
